h1{
	margin-left: 45%;
}

label{
	font-size: 130%;
}

#mmr{
	margin-left: 40%;	
}

#pma{
	margin-left: 25%;	
}

#reporte{
	font-size: 20px;
	font-family: Arial;
	font-weight: lighter;
} 

#reporte2{
	font-size: 20px;
	font-family: Arial;
	font-weight: lighter;
} 